<%- include("./partials/header.ejs") %>

<div class="container">
	<h1 class="text-center"> Create new Request for <em><strong><%= currentUser.username %></strong> : <%= currentUser._id %></em> </h1>
	<div class="row justify-content-center">
		<div class="col-12 col-lg-4">
			<form action="/users/search" method="POST">
				<input id="search_box" class="form-control" type="text" name="title" placeholder="Movie Title">
				<button id="search_button" class="btn btn-primary btn-block">Search</a>
			</form>
		</div>
	</div>

	<% if (foundMovies[0] !== undefined ) { %>
		<h3> Results... </h3>
		<div class="row">

			<% foundMovies.forEach((movie) => { %>

				<div class="card mb-3">
					<div class="row no-gutters">

						<div class="col-lg-4">
							<img class="card-img" src="<%= movie.posterUrl %>" alt="Card image cap">
						</div>

						<div class="col-lg-8">
							<div class="card-body">
								<h5 class="card-title"><strong><%= movie.title %></strong> - <em><%= movie.date %></em></h5>
								<p class="card-text"><strong>Description</strong>:
								<%= movie.description %>
								</p>
								<p class="card-text"><strong>IMDB Rating</strong>:
								<%= movie.rating %>
								</p>
								<btn id="<%= movie.id %>" href="#" class="btn btn-primary add-movie-button">Add to Requests</btn>
							</div>
						</div>

					</div>
				</div>

			<% }) %>
		<% } %>


		</div>
</div>

	<script src="/javascripts/search.js" currentUserId=<%= currentUser._id %>></script>

<%- include("./partials/footer.ejs") %>
